PORT="4000"
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:tyson@localhost:5432/
JWT_SECRET= secret
REDIS_HOST=redis.redislabs.com
REDIS_PORT= 17463
REDIS_PASSWORD=eqFsd4CNOK
RESEND_API_KEY= re_KDAD34j
EMAIL_VERIFICATION_JWT_SECRET= fsasa1bs